.profile-container {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px auto;
}

.profile-name {
  margin: 0 0 10px 0;
  font-size: 2em;
}

.profile-flag {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.profile-description {
  margin: 0;
  color: #666;
  font-size: 1em;
}
